[submodule "Lumina/Runtime/deps/glm"]
	path = Lumina/Runtime/deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "Lumina/Runtime/deps/NRI"]
	path = Lumina/Runtime/deps/NRI
	url = https://github.com/NVIDIAGameWorks/NRI.git
[submodule "deps/NRI"]
	path = deps/NRI
	url = https://github.com/NVIDIA-RTX/NRI.git
